{% extends 'members/base.html.twig' %}
{% block title %}
    Jour de Borocante
{% endblock %}
{% block main %}
    <div class="standDiv">
        <h2>Approchez Messieurs dames, le stand est ouvert !</h2>
        <article class="  article flex">
            {% for article in articles %}
                <div class=" flex squelette_article">
                    <div class=" divimg flex">
                        <img class="photo_article " src="{{ asset('/public/product_directory/' ~ article.articleFilename) }}" alt="">
                    </div>
                    <div class=" grey adminTitleStand flex">
                        <h2 class="grey articleTitle">{{ article.title }}</h2>
                        {% if  article.time  %}
                            <p class="grey articleTitle">année :{{ article.time }}</p>
                        {% endif %}
                    </div>
                    <div class=" flex divAdminBtn">
                        <div class="adminBtn border">
                            <a class="a menuA"   href="{{ path("member_product",{"id":article.id}) }}">Voir le Produit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </article>
    </div>
{% endblock %}