<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={% block css %}"{{ asset('style.css') }}"{% endblock css %}>
    <title>{% block title %} {% endblock %}</title>
</head>

<header class="header flex border">{# block contain "Brocaliande logo/title OldMan and menu#}
    <div class="blockImgHeader flex"> {# Block contain "Broccaliande" clock and OldMan #}
        <div class="divimgOldMan">
            <img class="imgBrocaliande" src="/public/img_database/pexels-photo-4394526.jpeg" alt="">
        </div>
        <div class="divWood">
            <img class="imgWood" src="/public/img_database/bois.jpg" alt="">
        </div>
        <div class="divTitle flex">{#this block contain clock, title with "B" and paragraph #}
            <h1 class="flex brocaLiande"><div class="chopin firstLetter">B</div>roca'liande</h1>
            <h2 class="h2">Ou comment faire voyager vos Antiquités dans le temps ...  </h2>
            <img class="imgClock" src="/public/img_database/horloge-removebg-preview.png" alt="Horloge représentant le temps qui passe">
        </div> {# ----------------------------------------------------- #}
    </div>
    <div class="divMenu">
        <ul class="menuUl flex">
            <li class="menuLi"><a class="menuA " href="{{ path("home") }}">Accueil</a></li>
            <li class="menuLi"><a class="menuA" href="{{ path("visiteurStand") }}">Notre Stand</a></li>
            <li class="menuLi"><a class="menuA" href="#">Espace Blog</a></li>
            <li class="menuLi"><a class="menuA" href="{{ path("app_login") }}">Connexion</a></li>
        </ul>
    </div>
</header>

<body class="body">
        {% block main %}
        {% endblock main %}
</body>
</html>
