{% extends 'visitor/base.html.twig' %}
{% block title %}Broccaliande{% endblock%}
{% block main %}

    {# Home pge for all  #}
    <div class="divHomeP border">
        <div>
            <img src="/public/img_database/6b0dcdbff4937c81fb7b8271bcc8765b--outdoor-halloween-parties-rustic-halloween.jpg" alt="">
        </div>
            <div>
                <h2 class="h2">Bienvenue</h2>
                <p class="homeP">Bienvenue sur Broca'liande, site dédié a l'Antiquité avec un grand "A" pour rassembler les chineurs, passionnés d'antiquités, ou juste curieux de passage. faites estimer vos objets par nos soin, achetez, et dialoguer avec une communauté qui aiment les memes choses que vous. <br></p>
                <p class="homeP"> Héritage, Objets cachés au fond de votre grenier, cave, hangars, maisons Ou autre meubles de familles ? Patrick et Morgane ont le pouvoir de trouver la solution pour vous.
                </p>
                <ul>
                    <li class="homeLi">Rachat de vos Antiquités toutes époques (meubles, bibelots, argenteries, objets d'art...)</li>
                    <li class="homeLi">Estimation de vos meubles et objets.</li>
                    <li class="homeLi">Vide maison gratuit</li>
                    <li class="homeLi">Débarras d'anciens magasins</li>
                </ul>
                <p class="homeP">Une solution adaptée a vos besoins. Nous nous déplacons, sans frais dans la region de dordogne</p>
            </div>
        </div>
{% endblock %}