{% extends 'visitor/base.html.twig' %}
{% block title %}Broccaliande{% endblock%}
{% block main %}

    {# Home pge for all  #}
    <div class="divHomeP border">
        <div>
            <img src="/public/img_database/6b0dcdbff4937c81fb7b8271bcc8765b--outdoor-halloween-parties-rustic-halloween.jpg" alt="">
        </div>
        <div class="homeText">
            <h2 class="h2 lightgrey">Bienvenue</h2>
            <p class="homeP lightgrey">Bienvenue sur Broca'liande, site dédié à l'Antiquité avec un grand "A" pour rassembler les chineurs, passionnés d'antiquités, ou juste curieux de passage. faites estimer vos objets par nos soins, achetez, et dialoguer avec une communauté qui aime les mêmes choses que vous. <br></p>
            <p class="homeP lightgrey"> Héritage, Objets cachés au fond de votre grenier, cave, hangars, maison ou autres meubles de famille ? Patrick et Morgane ont le pouvoir de trouver la solution pour vous.
            </p>
            <ul>
                <li class="homeLi lightgrey">Rachat de vos Antiquités toutes époques (meubles, bibelots, argenteries, objets d'art...)</li>
                <li class="homeLi lightgrey">Estimation de vos meubles et objets.</li>
                <li class="homeLi lightgrey">Vide maison gratuit</li>
                <li class="homeLi lightgrey">Débarras d'anciens magasins</li>
                <li class="homeLi lightgrey">Armes anciennes</li>
            </ul>
            <p class="homeP lightgrey">Une solution adaptée à vos besoins. Nous nous déplacons, sans frais dans la region de dordogne</p>
        </div>
    </div>
{% endblock %}