{% extends 'visitor/base.html.twig' %}
{% block title %}Broccaliande{% endblock%}
{% block main %}
    <a href="{{ path('app_register') }}">Nouveau Membre</a>
    <a href="{{ path('app_login') }}">Connexion</a>
{% endblock %}