@font-face {
    font-family: 'ChopinScript';
    font-weight: normal;
    src: url("font/ChopinScript.otf") format("opentype");
}
@font-face {
    font-family: 'Fondest';
    font-weight:normal;
    src: url("font/Fondest.ttf") format("truetype");
}
@font-face {
    font-family: "CaviarDreams";
    font-weight: normal bold;
    src: url("font/CaviarDreams.ttf") format("truetype");
}
*{
    margin: 0;
    padding: 0;
}
.body{
    margin: 0 auto;
    width: 80%;
    height: 80%;
    font-family: CaviarDreams;
    background-color: #dfdfdf;

}
                                            /*General*/
.chopin{
    font-family: ChopinScript;
    font-style: normal;
    color: darkred;
}

.grey{
    background-color: #333;
    color: #DDDDDD;
    width: 100%;
    height: 100%;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.center{
    align-items: center;
    margin:0 auto;
}
.border{
    border: 1px solid black;
    flex-direction: column;
}
.lightgrey{
    background-color: lightgray;
}
.spaceAround{
    justify-content: space-around;
}
/* Broca'liande Header */
.header{
    width: 100%;
    max-height: 43%;
    background-color: #FFFFFF;
    border: grey 1px solid;
    margin-top: 1rem;

}
.divTitle{
    position: absolute;
    margin-left: 45rem;
    margin-top: 4rem;
}
.divClock{
    opacity: 20%;
}
.imgClock{
    padding-top: 0.3rem;
    position: absolute;

}
.firstLetter{
    font-size: 5rem;
    position: relative;
}
.brocaLiande{
    align-items: center;
}
.blockImgHeader{
    max-height: 20rem;
    max-width: 100%;
}
.imgWood{
    width: 56.91rem;
    opacity: 25%;
}
.imgBrocaliande{
    width: 45rem;
    height: 20rem;
}

/* Base */
    /* NavBar */
.divMenu{
    width: 100%;
}
.menuUl{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menuLi{
    float: left;
}
.a{
    text-decoration: none;
    color: #333;
}
.p10{
    padding: 10px;
}
.menuA{
    background-color: #222;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menuA:hover{
    background-color: #111;
}
                                            /*------------*/
.homeLink {
    text-decoration: none;
    list-style: none;
    color: black;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
}
.divHomeP {
    align-items: center;
    width: 70%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin: 50px auto 0;
    border-radius: 50px;
    background-position:left top ;
    background-repeat: no-repeat;
    text-align: center;
    background-color: lightgray;
}
.homeText{
    width: 60%;
    margin: 0 auto;
}
.loginFormDiv{
    width: 40%;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}
.submitBtn{
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
                                                    /* Homepage */
.homeP{
    font-size: 1.5rem;
    padding-bottom: 10px;
    padding-top: 10px;
}
.homeLi{
    padding: 10px;
    font-size: 1.5rem;
    list-style: none;
}
                                                /*Menu admin*/
.adminTitle{
    text-align: center;
    padding: 20px;
}
.addObjectDiv{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.upload_photo{
    height: 3rem;
}
.add_object_form{
    width: 45%;
    margin: 0 auto;
}
.widget{
    background-color: #DDDDDD;
    border-radius: 5px;
}
.article_div{
    width: 100%;
    align-items: center;
    height: 310px;
    justify-content: space-around;
}
.article_div_solo{
    max-width: none;
    max-height: none;
}

.article{
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
}
.article_solo{
    max-height:none;
    max-width: none;
    margin-top: 50px;
    margin-bottom: 100px;
}
.photo_article{
    max-height: 100%;
    max-width: 100%;
}
.adminBtn{
    text-align: center;
    width: 30%;
}
.squelette_article{
    margin: 20px;
    width: 25%;
    height: 60%;
    align-items: center;
    padding: 30px;
    flex-direction: column;

}
.div_technique_produit{
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.fiche_techique{
    margin: 30px;
}
.description_solo{
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}
.divimg{
    width: 80%;
    height: 50%;
    object-position: center;
    object-fit: cover;
    justify-content: center;
    padding: 10px;
}
.div_qualite{
    margin: 20px;
}
.articleBtn_div{
    width: 50px;
    margin: 0 auto;
}
.adminTitleStand{
    width: 100%;
    flex-direction: column;
    align-items: center;
    min-height: 50px;
}
.divAdminBtn{
    justify-content: space-around;
    align-items: center;

    text-align: center;
    width: 400px;
    padding-top: 20px;
}
.articleTitle{
    text-align: center;
}
.div_titre_annee{
    height: 40px;
}
.photo_article_fiche{
    max-width: 50%;
    max-height: 50%;
}
.qualite{
    border: solid 1px green;
    padding: 20px;
}
.default{
    border: solid 1px brown;
    padding: 20px;
}
.Description{
    height: 10rem;
    width: 20rem;
}
.space_between{
    justify-content: space-between;
}