@font-face {
    font-family: 'ChopinScript';
    font-weight: normal;
    src: url("font/ChopinScript.otf") format("opentype");
}
@font-face {
    font-family: 'Fondest';
    font-weight:normal;
    src: url("font/Fondest.ttf") format("truetype");
}
@font-face {
    font-family: "CaviarDreams";
    font-weight: normal bold;

    src: url("font/CaviarDreams.ttf") format("truetype");
}
*{
    margin: 0;
    padding: 0;
    background-color:darkgray ;

}
.body{
    margin: 0 auto;
    width: 80%;
    height: 80%;
    font-family: CaviarDreams;

}
                                            /*General*/
.chopin{
    font-family: ChopinScript;
    font-style: normal;
    color: darkred;
}
.flex{
    display: flex;
}
.border{
    border: 1px solid black;
    flex-direction: column;
}
.lightgrey{
    background-color: lightgray;
}
                                            /* Broca'liande Logo */
.brocaLiande{
    align-items:center;
    padding-top: 60px;
}
.imgClock{
    padding-right: 25%;
    position: absolute;
    opacity: 20%;
}
.firstLetter{
    font-size: 5rem;
}
.blockImgHeader{

}
.imgWood{
    position: absolute;
    height: 300px;
    width: 945px;
    opacity: 25%;
}
.divimgOldMan{
    opacity: 25%;
}
.imgBrocaliande{
    object-position:right ;
    object-fit: contain;
    height: 300px;

}
.divTitle{
    flex-direction: column;
    align-items: center;
    padding-bottom: 95px;
    padding-left: 11%;

}
                                                /* Base */
.header{
    justify-content: center;
    text-align: center;
}
                                                /* NavBar */
.divMenu{
    width: 100%;
}
.menuUl{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
.menuLi{
    float: left;
}
.menuA{
    background-color: #222;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menuA:hover{
    background-color: #111;
}
                                            /*------------*/

.homeLink {
    text-decoration: none;
    list-style: none;
    color: black;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
}
.divHomeP {
    align-items: center;
    width: 70%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin: 50px auto 0;
    border-radius: 50px;
    background-position:left top ;
    background-repeat: no-repeat;
    text-align: center;
    background-color: lightgray;
}
.homeText{
    width: 60%;
    margin: 0 auto;
}
                                                    /* Forms */
.row{
    height: 50%;
    margin: 0 auto;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
}
.col{
  flex-direction: column;
    text-align: center;
}
.inpuntForm{

}
.loginFormDiv{
    width: 40%;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}
.submitBtn{
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
                                                    /* Homepage */
.brocImg{
    border: #FFFFFF solid 1px;
}
.homeP{
    font-size: 1.5rem;
    padding-bottom: 10px;
    padding-top: 10px;
}
.homeLi{
    padding: 10px;
    font-size: 1.5rem;
    list-style: none;
}
