{% extends 'admin/base.html.twig' %}

{% block title %} Menu Admin {% endblock %}

{% block main %}
   <div class="flex border">
       <a class="menuA" href="{{ path("productManagement") }}">Gestion de produits</a>
       <a class="menuA" href="#">Gestion des membres</a>
       <a class="menuA" href="#">Demandes d'estimation</a>
       <a class="menuA" href="#">messagerie</a>
   </div>
{% endblock %}